snippet seq "序列表"
    \`\`\`sequence-diagrams
    
    ${1}allA -> ${2}allB :<++>
    Note right of allB :<++>
    allB ->> allA :<++>
    \`\`\`




snippet img "img 标签"
    <img align="right" src="./${1}">

